<template>
	<div>
  	<div class="card">
			<div class="card-header">
				<h3 class="card-title">Airports</h3>
				<div class="card-tools">
					<button type="button" class="btn btn-tool" v-tooltip.bottom="'New'" @click="newAirport">
						<i class="fas fa-plus"></i>
					</button>
				</div>
			</div>
				
			<div class="card-body p-0">
				<v-server-table ref="table" url="/api/airports" :columns="columns" :options="options" @loading="isLoading(true)"  @loaded="isLoading(false)">
					<div slot="actions" slot-scope="{ row }" class="text-center">
						<button class="btn btn-transparent" @click="editAirport(row)" v-tooltip.bottom="'Edit'">
							<i class="fas fa-edit text-primary"></i>
						</button>
						<button class="btn btn-transparent" @click="delAirport(row)" v-tooltip.bottom="'Delete'">
							<i class="fas fa-trash-alt text-danger"></i>
						</button>
					</div>
				</v-server-table>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalLabel">{{modal.title}}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form @submit.prevent="onSubmit">
							<div class="form-group mb-3">
								<div class="input-group">
									<input
										v-model="$v.code.$model"
										type="text"
										class="form-control"
										placeholder="Code"
										:class="{
											'is-invalid': $v.code.$error && $v.code.$invalid
										}"
									>
								</div>
								<small class="form-text text-danger" v-if="$v.code.$error && $v.code.$invalid">Field is required</small>
							</div>

							<div class="form-group mb-3">
								<div class="input-group">
									<input
										v-model="$v.name.$model"
										type="text"
										class="form-control"
										placeholder="Name"
										:class="{
											'is-invalid': $v.name.$error && $v.name.$invalid
										}"
									>
								</div>
								<small class="form-text text-danger" v-if="$v.name.$error && $v.name.$invalid">Field is required</small>
							</div>
							
							<div class="form-group mb-3">
								<div class="input-group">
									<input
										v-model="$v.city.$model"
										type="text"
										class="form-control"
										placeholder="City"
										:class="{
											'is-invalid': $v.city.$error && $v.city.$invalid
										}"
									>
								</div>
								<small class="form-text text-danger" v-if="$v.city.$error && $v.city.$invalid">Field is required</small>
							</div>

							<div class="social-auth-links mt-2 mb-3">
								<button class="btn btn-primary"><span class="fas fa-disk"></span> Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
</template>
<script>
import { required } from 'vuelidate/lib/validators';
import { mapMutations } from 'vuex';
import Swal from 'sweetalert2';
export default {
  name: 'Airports',
  data() {
		return {
			airports: {},
			id: null,
			name: '',
      code: '',
      city: '',
			modal:{
				title: ''
			},
			columns: ['code', 'name', 'city', 'actions'],
			options: {
					perPage: 10,
					perPageValues: [10],
					filterable: true,
					filterByColumn: true,
					headings: {
						code: 'Code',
						name: 'Name',
						city: 'City',
						action: 'Actions'
					},
					columnsClasses: {'actions': 'w240px'},
					sortable: ['code', 'name', 'city'],
					filterable: ['code', 'name', 'city']
			}
		}
	},
	validations: {
		name: { required },
		code: { required },
		city: { required }
	},
	methods: {
		...mapMutations('layout', ['toggleLoading']),
		clearForm() {
			this.id = null,
			this.name = '';
			this.code = '';
			this.city = '';
			this.$v.$reset();
		},
		newAirport() {
			this.modal.title = 'Create a new airport';
			this.clearForm();
			$('#modal').modal('show');
		},
		editAirport(row) {
			this.modal.title = 'Edit an airport';
			this.id = row.id;
			this.$v.name.$model = row.name;
			this.$v.code.$model = row.code;
			this.$v.city.$model = row.city;
			$('#modal').modal('show');
		},
		async onSubmit() {
			this.$v.$touch();
      
			if (this.$v.$invalid) {
				Toast.fire({
					icon: 'error',
					title: 'Check your data please'
				})
			} else {
				try {
					const payload = {
						id: this.id,
						code: this.$v.code.$model,
						name: this.$v.name.$model,
						city: this.$v.city.$model
					}
					let res = await this.id ? axios.put('/api/airports', payload) : axios.post('/api/airports', payload);
					res = await res;
					if (!res.data.errors) {
						$('#modal').modal('hide');
						this.$refs.table.refresh();
						Toast.fire({
							icon: 'success',
							title: 'Your data was register!!'
						})
					} else {
						Toast.fire({
							icon: 'error',
							title: 'Occurred something, please try again'
						})
					}
				} catch (error) {
					Toast.fire({
						icon: 'error',
						title: 'Occurred something, please try again'
					});					
				}
			}
		},
		async delAirport({ id }) {
			try {
				const result = await Swal.fire({
					title: 'Are you sure?',
					text: "You won't be able to revert this!",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'Yes, delete it!'
				})
				if (result.isConfirmed) {
					const { data } = await axios.delete('/api/airports', { data: { id } });
					if (data == '') {
						this.$refs.table.refresh();
						Toast.fire({
              icon: 'success',
              title: 'Your data was deleted!!'
            })
					} else {
						Toast.fire({
              icon: 'error',
              title: 'Occurred something, please try again'
            })
					}
				}
			} catch (error) {
				Toast.fire({
					icon: 'error',
					title: 'Occurred something, please try again'
				})
			}
		},
		isLoading(value) {
			this.toggleLoading(value);
		}
	}
}
</script>