<template>
	<div>

  	<div class="card">
			<div class="card-header">
				<h3 class="card-title">Flights</h3>
				<div class="card-tools">
					<button v-if="permissions.includes('flights.create')" type="button" class="btn btn-tool" v-tooltip.top-center="'New'" @click="newFlight">
						<i class="fas fa-plus"></i>
					</button>
				</div>
			</div>

			<div class="card-body p-0">
				<v-server-table v-if="permissions.includes('flights.read')" ref="table" url="/api/flights" :columns="columns" :options="options" @loading="isLoading(true)"  @loaded="isLoading(false)">
					<div slot="airline" slot-scope="{ row }" class="text-center">
						{{ row.airline.name }}
					</div>
					<div slot="departure" slot-scope="{ row }" class="text-center">
						{{ row.departure.name }} ({{ row.departure.city }})
					</div>
					<div slot="departure_time" slot-scope="{ row }" class="text-center">
						{{ row.departure_time | moment('MM/DD/YYYY HH:mm:s') }}
					</div>
					<div slot="destination" slot-scope="{ row }" class="text-center">
						{{ row.departure.name }} ({{ row.departure.city }})
					</div>
					<div slot="arrival_time" slot-scope="{ row }" class="text-center">
						{{ row.arrival_time | moment('MM/DD/YYYY HH:mm:s') }}
					</div>
					<div slot="actions" slot-scope="{ row }" class="text-center">
						<button v-if="permissions.includes('flights.update')" class="btn btn-transparent" @click="editFlight(row)" v-tooltip.top-center="'Edit'">
							<i class="fas fa-edit text-primary"></i>
						</button>
						<button v-if="permissions.includes('flights.delete')" class="btn btn-transparent" @click="delFlight(row)" v-tooltip.top-center="'Delete'">
							<i class="fas fa-trash-alt text-danger"></i>
						</button>
					</div>
				</v-server-table>
				<h1 v-if="!permissions.includes('flights.read')" class="text-danger text-center">
					YOU DON'T HAVE PERMISSIONS TO READ
				</h1>
				== {{ permissions }} ==
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalLabel">{{modal.title}}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form @submit.prevent="onSubmit">
							<div class="form-group mb-3">
								<label>Code</label>
								<div class="input-group">
									<input
										v-model="$v.code.$model"
										type="text"
										class="form-control"
										placeholder="Code"
										:class="{
											'is-invalid': $v.code.$error && $v.code.$invalid
										}"
									>
								</div>
								<small class="form-text text-danger" v-if="$v.code.$error && $v.code.$invalid">Field is required</small>
							</div>

							<div class="form-group mb-3">
								<label>Type</label>
								<v-select
									:options="types"
									v-model="$v.type.$model"
								/>
								<small class="form-text text-danger" v-if="$v.type.$error && $v.type.$invalid">Field is required</small>
							</div>

							<div class="form-group mb-3">
								<label>Airline</label>
								<v-select label="name" :options="airlines" v-model="$v.airline.$model"></v-select>
								<small class="form-text text-danger" v-if="$v.airline.$error && $v.airline.$invalid">Field is required</small>
							</div>

							<div class="form-group mb-3">
								<label>Departure</label>
								<v-select label="name" :options="airports" v-model="$v.departure.$model"></v-select>
								<small class="form-text text-danger" v-if="$v.departure.$error && $v.departure.$invalid">Field is required</small>
							</div>

							<div class="form-group mb-3">
								<label>Departure time</label>
								<DatePicker v-model="$v.departure_time.$model" type="datetime" />
								<small class="form-text text-danger" v-if="$v.departure_time.$error && $v.departure_time.$invalid">Field is required</small>
							</div>
							
							<div class="form-group mb-3">
								<label>Destination</label>
								<v-select label="name" :options="airports" v-model="$v.destination.$model"></v-select>
								<small class="form-text text-danger" v-if="$v.destination.$error && $v.destination.$invalid">Field is required</small>
							</div>
							
							<div class="form-group mb-3">
								<label>Arrival time</label>
								<DatePicker v-model="$v.arrival_time.$model" type="datetime" />
								<small class="form-text text-danger" v-if="$v.arrival_time.$error && $v.arrival_time.$invalid">Field is required</small>
							</div>
							<div class="social-auth-links mt-2 mb-3">
								<button class="btn btn-primary"><span class="fas fa-disk"></span> Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import { required } from 'vuelidate/lib/validators';
import { mapMutations } from 'vuex';
import DatePicker from 'vue2-datepicker';

import Swal from 'sweetalert2';
export default {
  name: 'Flights',
	components: {
		DatePicker
	},
	async mounted() {
		let res = await axios.get('/api/airlines/combo');
		this.airlines = res.data;
		res = await axios.get('/api/airports/combo');
		this.airports = res.data;

	},
	computed: {
  	permissions () {
			return this.$store.state.layout.permissions;
  	}
	},
  data() {
		return {
			flights: {},
			airports: [],
			airlines: [],
			types: ['PASSENGER', 'FREIGHT'],
			id: null,
			code: '',
			type: '',
			airline: '',
			departure: '',
			departure_time: '',
			destination: '',
			arrival_time: '',
			modal:{
				title: ''
			},
			columns: ['code', 'type', 'airline', 'departure', 'departure_time', 'destination', 'arrival_time', 'actions'],
			options: {
					perPage: 10,
					perPageValues: [10],
					filterable: true,
					filterByColumn: true,
					headings: {
						code: 'Code',
						type: 'Type',
						airline: 'Airline',
						departure: 'Departure',
						departure_time: 'Departure time',
						destination: 'Destination',
						arrival_time: 'Arrival time',
						action: 'Actions'
					},
					columnsClasses: {'actions': 'w240px'},
					sortable: ['code', 'type', 'departure_time', 'arrival_time'],
					filterable: ['code', 'type', 'departure_time', 'arrival_time']
			}
		}
	},
	validations: {
		code: { required },
		type: { required },
		airline: { required },
		departure: { required },
		departure_time: { required },
		destination: { required },
		arrival_time: { required }
	},
	methods: {
		...mapMutations('layout', ['toggleLoading']),
		clearForm() {
			this.id = null;
			this.code = '';
			this.type = '';
			this.airline = '';
			this.departure = '';
			this.departure_time = '';
			this.destination = '';
			this.arrival_time = '';
			this.$v.$reset();
		},
		newFlight() {
			this.modal.title = 'Create a new flight';
			this.clearForm();
			$('#modal').modal('show');
		},
		editFlight(row) {
			this.modal.title = 'Edit a flight';
			this.id = row.id;
			this.$v.code.$model = row.code;
			this.$v.type.$model = row.type;
			this.$v.airline.$model = row.airline;
			this.$v.departure.$model = row.departure;
			this.$v.departure_time.$model = new Date(row.departure_time);
			this.$v.destination.$model = row.destination;
			this.$v.arrival_time.$model = new Date(row.arrival_time);
			$('#modal').modal('show');
		},
		async onSubmit() {
			this.$v.$touch();

			if (this.$v.$invalid) {
				Toast.fire({
					icon: 'error',
					title: 'Check your data please'
				})
			} else {
				const payload = {
					id: this.id,
					code: this.$v.code.$model,
					type: this.$v.type.$model,
					airline: this.$v.airline.$model,
					departure: this.$v.departure.$model,
					departure_time: this.$v.departure_time.$model,
					destination: this.$v.destination.$model,
					arrival_time: this.$v.arrival_time.$model
				}
				let res = await this.id ? axios.put('/api/flights', payload) : axios.post('/api/flights', payload);
				res = await res;
				if (!res.data.errors) {
					$('#modal').modal('hide');
					this.$refs.table.refresh();
					Toast.fire({
						icon: 'success',
						title: 'Your data was register!!'
					})
				} else {
					Toast.fire({
						icon: 'error',
						title: 'Occurred something, please try again'
					})
				}
			}
		},
		async delFlight({ id }) {
			try {
				const result = await Swal.fire({
					title: 'Are you sure?',
					text: "You won't be able to revert this!",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'Yes, delete it!'
				})
				if (result.isConfirmed) {
					const { data } = await axios.delete('/api/flights', { data: { id } });
					if (data == '') {
						this.$refs.table.refresh();
						Toast.fire({
              icon: 'success',
              title: 'Your data was deleted!!'
            })
					} else {
						Toast.fire({
              icon: 'error',
              title: 'Occurred something, please try again'
            })
					}
				}
			} catch (error) {
				Toast.fire({
					icon: 'error',
					title: 'Occurred something, please try again'
				})
			}
		},
		isLoading(value) {
			this.toggleLoading(value);
		}
	}
}
</script>