<template>
  <div class="login-box py-5">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <h1 class="h1"><b>TRX</b> GLOBAL</h1>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Enter your data for sign in</p>

        <form @submit.prevent="onSubmit">
          <div class="form-group mb-3">
            <div class="input-group">
              <input
                v-model="$v.username.$model"
                type="email"
                class="form-control"
                placeholder="email"
                :class="{
                  'is-invalid': $v.username.$error && $v.username.$invalid
                }"
              >
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <small class="form-text text-danger" v-if="$v.username.$error && $v.username.$invalid">Field is required</small>
          </div>

          <div class="form-group mb-3">
            <div class="input-group">
              <input
                v-model="$v.password.$model"
                type="password"
                class="form-control"
                placeholder="Password"
                :class="{
                  'is-invalid': $v.password.$error && $v.password.$invalid
                }"
              >
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <small class="form-text text-danger" v-if="$v.password.$error && $v.password.$invalid">Field is required</small>
          </div>

          <div class="social-auth-links text-center mt-2 mb-3">
            <button class="btn btn-primary btn-block"><span class="fas fa-sign-in-alt"></span> Sign In</button>
          </div>
        </form>
        <p class="mb-0">
          <router-link to="/register" class="text-center">Register a new membership</router-link>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators';
  export default {
    name: 'Login',
    data() {
      return {
        username: '',
        password: ''
      }
    },
    validations: {
      username: { required },
      password: { required }
    },
    methods: {
      clearForm() {
        this.username = '';
        this.password = '';
        this.$v.$reset();
      },
      async onSubmit() {
        this.$v.$touch();
      
        if (this.$v.$invalid) {
          Toast.fire({
            icon: 'error',
            title: 'Check your credentials please'
          })
        } else {
          try {
            const res = await axios.post('/api/login', {
              email: this.$v.username.$model,
              password: this.$v.password.$model
            });
            localStorage.setItem('token', res.data.token);
            this.clearForm();
            this.$router.push('/admin')
          } catch (error) {
            Toast.fire({
              icon: 'error',
              title: 'Check your credentials please'
            })
          }
        }
      }
    }
  }
</script>
