<template>
  <div class="login-box py-5">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <h1 class="h1"><b>TRX</b> GLOBAL</h1>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Register your data for a new account</p>

        <form @submit.prevent="onSubmit">

          <div class="form-group mb-3">
            <div class="input-group">
              <input
                v-model.trim="$v.name.$model"
                type="text"
                class="form-control"
                placeholder="Name"
                :class="{
                  'is-invalid': $v.name.$error && $v.name.$invalid
                }"
              >
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <small class="form-text text-danger" v-if="$v.name.$error && $v.name.$invalid">Field is required</small>
          </div>
          
          <div class="form-group mb-3">
            <div class="input-group">
              <input
                v-model.trim="$v.username.$model"
                type="email"
                class="form-control"
                placeholder="email"
                :class="{
                  'is-invalid': $v.username.$error && $v.username.$invalid
                }"
              >
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <small class="form-text text-danger" v-if="$v.username.$error && $v.username.$invalid">Field is required</small>
          </div>

          <div class="form-group mb-3">
            <div class="input-group">
              <input
                v-model.trim="$v.password.$model"
                type="password"
                class="form-control"
                placeholder="Password"
                :class="{
                  'is-invalid': $v.password.$error && $v.password.$invalid
                }"
              >
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <small class="form-text text-danger" v-if="$v.password.$error && $v.password.$invalid">Field is required</small>
          </div>
          
          <div class="form-group mb-3">
            <div class="input-group">
              <input
                v-model.trim="$v.password_confirmation.$model"
                type="password"
                class="form-control"
                placeholder="Confirm password"
                :class="{
                  'is-invalid': $v.password_confirmation.$error && $v.password_confirmation.$invalid
                }"
              >
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <small class="form-text text-danger" v-if="$v.password_confirmation.$error && $v.password_confirmation.$invalid">Field is required</small>
          </div>
          
          <div class="social-auth-links text-center mt-2 mb-3">
            <button class="btn btn-primary btn-block"><span class="fas fa-sign-in-alt"></span> Register</button>
          </div>
        </form>
        <p class="mb-0">
          <router-link to="/" class="text-center">Do you have an account?</router-link>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators';
export default {
  name: 'Register',
  data() {
    return {
      name: '',
      username: '',
      password: '',
      password_confirmation: ''
    }
  },
  validations: {
    name: { required },
    username: { required },
    password: { required },
    password_confirmation: { required }
  },
  methods: {
    clearForm() {
      this.name = '';
      this.username = '';
      this.password = '';
      this.password_confirmation = '';
      this.$v.$reset();
    },
    async onSubmit() {
      this.$v.$touch();
      
      if (this.$v.$invalid) {
        Toast.fire({
            icon: 'error',
            title: 'Check your data please'
          })
      } else {
        try {
          await axios.post('/api/register', {
            name: this.$v.name.$model,
            email: this.$v.username.$model,
            password: this.$v.password.$model,
            password_confirmation: this.$v.password_confirmation.$model
          });
          Toast.fire({
            message: 'Your account was created',
            type: 'success',
          });
          this.clearForm();
          this.$router.push('/')
        } catch (error) {
          Toast.fire({
              icon: 'error',
              title: error.response.data
            })
        }
      }
    }
  }
}
</script>