<template>


<div class="wrapper">
  <Navbar />
  <Sidebar />
  <div class="content-wrapper">
    <section class="content py-3 px-3">
      <router-view></router-view>
    </section>
  </div>
  <Footer />
</div>
</template>

<script>
  import Navbar from '../partials/Navbar.vue';
  import Sidebar from './../partials/Sidebar.vue';
  import Footer from './../partials/Footer.vue';

	export default {
		name: 'PublicLayout',
    components: {
      Navbar,
      Sidebar,
      Footer
    }
	}
</script>
