<template>
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
    
    <div class="sidebar">
      <a href="#" class="brand-link">
        <img src="/img/trx_logo.png" alt="TRX Logo" class="brand-image">
      </a>
    </div>

    <div class="sidebar">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{username}}</a>
        </div>
      </div>

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <router-link to="airports" class="nav-link">
              <i class="nav-icon fas fa-warehouse"></i>
              <p>
                Airports
              </p>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="airlines" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Airlines
              </p>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="flights" class="nav-link">
              <i class="nav-icon fas fa-plane-departure"></i>
              <p>
                Flights
              </p>
            </router-link>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
</template>

<script>
import { mapMutations } from 'vuex';
export default {
  data() {
    return {
      username: ''
    }
  },
  async mounted() {
    let res = await axios.get('/api/userinfo');
    res = await res;
    this.username = res.data.name;
    this.setPermissions(res.data.permissions);
  },
  methods: {
    ...mapMutations('layout', ['setPermissions']),
  }
  
}
</script>